.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list-card-actions-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
