<mat-form-field appearance="fill" [floatLabel]="$labelFloat()">
  <mat-label>{{ $label() }}</mat-label>

  @if ($textPrefix()) {
    <span matTextPrefix>{{$textPrefix()}}</span>
  }

  <input [type]="$inputType()" matInput [formControl]="$control()" #field/>

  @if ($textSuffix()) {
    <span matTextSuffix>{{$textSuffix()}}</span>
  }

  @if ($maxLength()) {
    <mat-hint align="end">
      {{ field.value.length }} / {{ $maxLength() }}
    </mat-hint>
  }

  @if ($control().invalid) {
    <mat-error>{{ $control().errors | errorMessage }}</mat-error>
  }
</mat-form-field>
