@let ingredient = $ingredient();
@let mealIngredient = $mealIngredient();

<mat-card class="ingredient-card mat-elevation-z7">
  <div class="image-section">
    <!-- TODO: add images from entity when api is updated -->
    <img src="https://placehold.co/800x800.png?text=Ingredient+Placeholder" alt="Ingredient image"/>
  </div>

  <div class="main-content">
    <div class="info-section">
      <h2>{{ ingredient.title }}</h2>
      <div class="data-section">
        <p><strong>Ціна:</strong> {{ ingredient.price }} грн</p>
        <p><strong>Вага:</strong> {{ ingredient.weight }} г</p>
        <p><strong>Енергетична цінність:</strong> {{ ingredient.energeticValue }} ккал</p>
      </div>
    </div>

    <div class="actions-container">
      <button mat-icon-button color="warn" class="ingredient-delete-button" (click)="onDelete()">
        <mat-icon>close</mat-icon>
      </button>

      <div class="ingredient-order-buttons">
        <button mat-icon-button color="primary" (click)="onUp()" [disabled]="$disableUp()">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="onDown()" [disabled]="$disableDown()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>

      <div class="counter-container">
        <div>
          <span><strong>Кількість:</strong></span>
        </div>
        <div class="counter">
          <button mat-icon-button color="primary" (click)="onDecrease()" [disabled]="shouldDisableDecrease()">−</button>
          <span>{{ mealIngredient.amount }}</span>
          <button mat-icon-button color="primary" (click)="onIncrease()">+</button>
        </div>
      </div>

      <div>
        <mat-checkbox
          [checked]="mealIngredient.isFixated"
          (change)="onFixatedChange()"
          [disabled]="shouldDisableCheckbox()"
        >
          Обов'язковий
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-card>
