<div class="title-wrapper">
  <h2>Ресторани</h2>

  <div class="right-end-toolbar">
    <button mat-raised-button color="primary" (click)="onExportReport()">
      <mat-icon>print</mat-icon>
      <span>Експортувати звіт</span>
    </button>

    <button mat-raised-button color="accent" (click)="onCreate()">
      Створити новий
    </button>
  </div>
</div>

<div class="search-bar-container">
  <app-search-bar class="search-bar" label="Пошук ресторана" (search)="onSearch($event)"/>
</div>

<div class="list-container">
  <app-restaurants-list [restaurants]="$restaurants()"/>
</div>

<div class="mat-elevation-z3">
  <app-common-paginator [paginator]="store.paginatorModel" (page)="onPagination($event)"/>
</div>
