:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.create-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.list-toolbar {
  width: 100%;
}
