<mat-card class="ingredient-card">
  <mat-card-header>
    <mat-card-title class="ingredient-card-title">{{ $ingredient().title }}</mat-card-title>
  </mat-card-header>

  <!-- TODO: add images from entity when api is updated -->
  <img class="ingredient-img" mat-card-image src="https://placehold.co/1200x800.png?text=Ingredient+Placeholder" alt="{{ $ingredient().title }}"/>

  <mat-card-content>
    <div class="info-container">
      <p>
        <strong>Ціна: </strong> {{ $ingredient().price }} грн
      </p>
      <p>
        <strong>Енергетична цінність:</strong> {{ $ingredient().energeticValue }} ккал
      </p>
      <p>
        <strong>Вага:</strong> {{ $ingredient().weight }} г
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions class="actions-container">
    <button mat-button color="primary" (click)="onEditClick()">
      <mat-icon>edit</mat-icon>
      <span>Редагувати</span>
    </button>
    <button mat-button color="warn" (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
      <span>Видалити</span>
    </button>
  </mat-card-actions>
</mat-card>
