<mat-card class="item-list-card">
  <mat-card-header>
    <mat-card-title class="item-list-card-title">{{ $ingredient().title }}</mat-card-title>
  </mat-card-header>

  <img imageLoader [imageType]="ImageType.INGREDIENT_IMAGE"
       [title]="$ingredient().title"
       (imageLoaded)="onImageLoaded($event)"
       class="item-list-card-img"
       mat-card-image
       alt="{{ $ingredient().title }}"
  />

  <mat-card-content>
    <div class="item-list-card-info-container">
      <p>
        <strong>Ціна: </strong> {{ $ingredient().price }} грн
      </p>
      <p>
        <strong>Енергетична цінність:</strong> {{ $ingredient().energeticValue }} ккал
      </p>
      <p>
        <strong>Вага:</strong> {{ $ingredient().weight }} г
      </p>
    </div>
  </mat-card-content>

  @if ($shouldShowActions()) {
    <mat-card-actions class="item-list-card-actions-container">
      <button mat-button color="primary" (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
        <span>Редагувати</span>
      </button>
      <button mat-button color="warn" (click)="onDeleteClick()">
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
    </mat-card-actions>
  }
</mat-card>
