<mat-chip-listbox multiple>
<!--  <mat-chip-option (click)="onPriceRangeToggle()">-->
<!--    Ціна-->
<!--    <mat-icon matChipRemove (click)="onPriceRangeForm()">menu</mat-icon>-->
<!--  </mat-chip-option>-->
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.MANAGER)">
    Менеджери
  </mat-chip-option>
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.CASHIER)">
    Касири
  </mat-chip-option>
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.COOK)">
    Кухарі
  </mat-chip-option>
</mat-chip-listbox>
