<mat-chip-listbox multiple>
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.MANAGER)">
    Менеджери
  </mat-chip-option>
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.CASHIER)">
    Касири
  </mat-chip-option>
  <mat-chip-option selected (click)="onPositionToggle(EmployeePosition.COOK)">
    Кухарі
  </mat-chip-option>
  <mat-chip-option (click)="onSalaryToggle()">
    Заробітна плата
    <mat-icon matChipRemove (click)="onSalaryOpen()">menu</mat-icon>
  </mat-chip-option>
  <mat-chip-option (click)="onBirthDateToggle()">
    Дата народження
    <mat-icon matChipRemove (click)="onBirthDateOpen()">menu</mat-icon>
  </mat-chip-option>
</mat-chip-listbox>
