<mat-chip-listbox multiple>
<!--  <mat-chip-option [selected]="isPositionSelected(EmployeePosition.MANAGER)"-->
<!--                   (click)="onPositionToggle(EmployeePosition.MANAGER)">-->
<!--    Менеджери-->
<!--  </mat-chip-option>-->
<!--  <mat-chip-option [selected]="isPositionSelected(EmployeePosition.CASHIER)"-->
<!--                   (click)="onPositionToggle(EmployeePosition.CASHIER)">-->
<!--    Касири-->
<!--  </mat-chip-option>-->
<!--  <mat-chip-option [selected]="isPositionSelected(EmployeePosition.COOK)"-->
<!--                   (click)="onPositionToggle(EmployeePosition.COOK)">-->
<!--    Кухарі-->
<!--  </mat-chip-option>-->
  <mat-chip-option (click)="onLastOrderedToggle()">
    Дата останнього замовлення
    <mat-icon matChipRemove (click)="onLastOrderedOpen()">menu</mat-icon>
  </mat-chip-option>
  <mat-chip-option (click)="onClientMealsToggle()">
    Кількість клієнтських страв
    <mat-icon matChipRemove (click)="onClientMealsOpen()">menu</mat-icon>
  </mat-chip-option>
</mat-chip-listbox>
