<mat-chip-listbox multiple>
  <mat-chip-option [selected]="isOptionsSelected(MealStatus.ACTUAL)"
                   (click)="onOptionToggle(MealStatus.ACTUAL)">
    Актуальні
  </mat-chip-option>
  <mat-chip-option [selected]="isOptionsSelected(MealStatus.NOT_ACTUAL)"
                   (click)="onOptionToggle(MealStatus.NOT_ACTUAL)">
    Неактуальні
  </mat-chip-option>
  <mat-chip-option (click)="onLastOrderedToggle()">
    Дата останнього замовлення
    <mat-icon matChipRemove (click)="onLastOrderedOpen()">menu</mat-icon>
  </mat-chip-option>
  <mat-chip-option (click)="onClientMealsToggle()">
    Кількість клієнтських страв
    <mat-icon matChipRemove (click)="onClientMealsOpen()">menu</mat-icon>
  </mat-chip-option>
</mat-chip-listbox>
