@let ingredient = $ingredient();
@let mealIngredient = $mealIngredient();

<mat-card class="card mat-elevation-z7">
  <div class="image-section">
    <!-- TODO: add images from entity when api is updated -->
    <img src="https://placehold.co/800x800.png?text=Ingredient+Placeholder" alt="Ingredient image"/>
  </div>

  <div class="main-content">
    <div class="info-section">
      <h2>{{ ingredient.title }}</h2>
      <div class="data-section">
        <p><strong>Ціна:</strong> {{ ingredient.price }} грн</p>
        <p><strong>Вага:</strong> {{ ingredient.weight }} г</p>
        <p><strong>Енергетична цінність:</strong> {{ ingredient.energeticValue }} ккал</p>
      </div>
    </div>

    <div class="actions-container">
      <div class="counter-container">
        <span class="count-label"><strong>Кількість:</strong> {{ mealIngredient.amount }}</span>
      </div>

      @if(!$hideFixated()) {
        <div>
          <mat-checkbox
            [checked]="mealIngredient.isFixated"
            [disabled]="true"
          >
            Обов'язковий
          </mat-checkbox>
        </div>
      }
    </div>
  </div>
</mat-card>
