<mat-horizontal-stepper class="mat-elevation-z5"
                        labelPosition="bottom"
                        [linear]="false">
  <mat-step [stepControl]="firstStepForm">
    <ng-template matStepLabel>Облікові дані</ng-template>

    <form [formGroup]="firstStepForm">
      <app-common-form-input-field class="default-form-input-field"
                                   [control]="firstStepForm.controls.username"
                                   label="Ім'я користувача"
                                   inputType="text"
                                   [maxLength]="320"
                                   iconSuffix="person"/>

      <app-common-form-password-field class="default-form-input-field"
                                      [control]="firstStepForm.controls.password"
                                      label="Пароль"
                                      [maxLength]="64"/>

      <app-common-form-password-field class="default-form-input-field"
                                      [control]="firstStepForm.controls.passwordConfirm"
                                      label="Підтвердіть пароль"
                                      [maxLength]="64"/>

      @if (firstStepForm.errors) {
        <mat-error>
          {{ firstStepForm.errors | errorMessage }}
        </mat-error>
      }
    </form>

    <div class="stepper-buttons">
      <div></div>
      <button type="submit" class="stepper-btn-next" mat-raised-button color="accent" matStepperNext>
        Далі
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondStepForm">
    <ng-template matStepLabel>Персональні дані</ng-template>

    <form [formGroup]="secondStepForm">
      <app-common-form-input-field class="default-form-input-field"
                                   [control]="secondStepForm.controls.surname"
                                   label="Прізвище"
                                   [maxLength]="64"
                                   iconSuffix="person"/>

      <app-common-form-input-field class="default-form-input-field"
                                   [control]="secondStepForm.controls.firstName"
                                   label="Ім'я"
                                   [maxLength]="64"
                                   iconSuffix="person"/>

      <app-common-form-input-field class="default-form-input-field"
                                   [control]="secondStepForm.controls.middleName"
                                   label="По-батькові"
                                   [maxLength]="64"
                                   iconSuffix="person"/>

      <app-common-form-datepicker-field class="default-form-input-field"
                                        [control]="secondStepForm.controls.birthDate"
                                        label="Дата народження"/>
    </form>

    <div class="stepper-buttons">
      <button type="button" mat-raised-button color="primary" matStepperPrevious>
        Назад
      </button>

      <button type="submit" class="stepper-btn-next" mat-raised-button color="accent" matStepperNext>
        Далі
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondStepForm">
    <ng-template matStepLabel>Персональні дані</ng-template>

    <form [formGroup]="secondStepForm">
      <app-common-form-input-field class="default-form-input-field"
                                   [control]="contactsStepForm.controls.email"
                                   label="Пошта"
                                   inputType="email"
                                   [maxLength]="320"
                                   iconSuffix="mail"/>

      <app-common-form-input-field class="default-form-input-field"
                                   [control]="contactsStepForm.controls.phoneNumber"
                                   inputType="tel"
                                   label="Номер телефону"
                                   labelFloat="always"
                                   [maxLength]="10"
                                   textPrefix="+38"/>
    </form>

    <div class="stepper-buttons">
      <button type="button" mat-raised-button color="primary" matStepperPrevious>
        Назад
      </button>

      <button type="submit" mat-raised-button color="accent" (click)="onSubmit()">
        Зареєструватись
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
