<form [formGroup]="form">
  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.passportNumber"
                               label="Номер паспорта"
                               inputType="text"
                               [maxLength]="14"
                               iconSuffix="article"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.surname"
                               label="Прізвище"
                               inputType="text"
                               [maxLength]="64"
                               iconSuffix="person"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.firstName"
                               label="Ім'я"
                               inputType="text"
                               [maxLength]="64"
                               iconSuffix="person"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.middleName!"
                               label="По-батькові"
                               inputType="text"
                               [maxLength]="64"
                               iconSuffix="person"/>

  <app-common-form-datepicker-field class="default-form-input-field"
                                    [control]="form.controls.birthDate"
                                    label="Дата народження"/>
</form>
