<table mat-table [dataSource]="$dataSource()" class="mat-elevation-z3">
  <ng-container [matColumnDef]="ClientColumns.surname">
    <th mat-header-cell *matHeaderCellDef>Прізвище</th>
    <td mat-cell *matCellDef="let client">{{ client.surname }}</td>
  </ng-container>

  <ng-container [matColumnDef]="ClientColumns.firstName">
    <th mat-header-cell *matHeaderCellDef>Ім'я</th>
    <td mat-cell *matCellDef="let client">{{ client.firstName }}</td>
  </ng-container>

  <ng-container [matColumnDef]="ClientColumns.middleName!">
    <th mat-header-cell *matHeaderCellDef>По-батькові</th>
    <td mat-cell *matCellDef="let client">{{ client.middleName }}</td>
  </ng-container>

  <ng-container [matColumnDef]="ClientColumns.birthDate">
    <th mat-header-cell *matHeaderCellDef>Дата народження</th>
    <td mat-cell *matCellDef="let client">{{ client.birthDate }}</td>
  </ng-container>

  <ng-container [matColumnDef]="ClientColumns.bonuses">
    <th mat-header-cell *matHeaderCellDef>Бонуси</th>
    <td mat-cell *matCellDef="let client">{{ client.bonuses }}</td>
  </ng-container>

  <ng-container [matColumnDef]="ClientColumns.actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let client">
      <div class="table-list-actions-container">
        <button mat-icon-button color="primary" [routerLink]="[client.id]">
          <mat-icon>visibility</mat-icon>
        </button>
        @if ($userRole() === UserRole.ADMIN) {
          <button mat-icon-button color="warn" (click)="onDelete(client)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
