<div class="content-wrapper">
  <div class="top-part">
    <div>
      <h2>Вартість: {{ $totalPrice() }} грн</h2>
    </div>
    <div class="right-actions-container">
      @if ($meals().length > 0) {
        <button mat-icon-button color="warn" (click)="onClear()">
          <mat-icon>delete</mat-icon>
        </button>
      }
      <button mat-raised-button color="accent" (click)="onAddMeal()">
        Додати страву
      </button>
    </div>
  </div>


  @if ($meals().length > 0) {
    <div class="cards-list-container">
      <h2>
        Страви
      </h2>
      <div class="cards-list">
        @for (meal of $meals(); track meal.id) {
          <app-order-meal-card [meal]="meal"
                               (update)="onUpdate()"
                               (delete)="onDelete(meal.id)"/>
        }
      </div>
    </div>
  }

  <div class="submit-form-buttons-container">
    <button mat-raised-button color="primary" (click)="onCancel()">
      Скасувати
    </button>

    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="$meals().length === 0">
      Підтвердити замовлення
    </button>
  </div>
</div>

