:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .create-form {
    max-width: 600px;
  }
}
