<div class="title-wrapper">
  <h2>Профіль працівника</h2>

  @if (authService.hasRole(UserRole.ADMIN, UserRole.MANAGER) && $employee()?.id != authService.$currentUser()?.id) {
    <button mat-raised-button color="warn" (click)="onDelete()">
      Звільнити
    </button>
  }
</div>

<div class="horizontal-container">
  <div class="cards-vertical-container">
    <app-common-data-card class="common-data-card-absolute-width">
      <span title>Дані працевлаштування</span>
      <p>
        <strong>Посада:</strong> {{ $employee()?.position | employeePositionPipe }}
      </p>
      <p>
        <strong>Ресторан: </strong> {{ $restaurant()?.address }}
      </p>
      <p>
        <strong>Заробітна плата: </strong> {{ $employee()?.salary }}
      </p>
    </app-common-data-card>

    <app-common-data-card class="common-data-card-absolute-width">
      <span title>Персональні дані</span>
      <button relativeAction mat-icon-button color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <p>
        <strong>Номер паспорта:</strong> {{ $employee()?.passportNumber }}
      </p>
      <p>
        <strong>Прізвище: </strong> {{ $employee()?.surname }}
      </p>
      <p>
        <strong>Ім'я: </strong> {{ $employee()?.firstName }}
      </p>
      @if ($employee()?.middleName) {
        <p>
          <strong>По-батькові: </strong> {{ $employee()?.middleName }}
        </p>
      }
      <p>
        <strong>Дата народження: </strong> {{ $employee()?.birthDate }}
      </p>
    </app-common-data-card>
  </div>

  <div class="cards-vertical-container">
    <app-emails-card [userId]="$employee()!.id"/>
    <app-phones-card [userId]="$employee()!.id"/>
  </div>
</div>
