<h2>Страва {{ $meal().title }}</h2>

<div class="horizontal-container">
  <div class="long-info-cards-container">
    <mat-card>
      <img imageLoader [imageType]="ImageType.MEAL_IMAGE"
           [title]="$meal().title"
           alt="{{ $meal().title }}"
           class="meal-image"
      />
    </mat-card>

    <app-common-data-card class="common-data-card-absolute-width">
      <span title>Опис</span>
      <p>{{ $meal().description }}</p>
    </app-common-data-card>

    <app-common-data-card class="common-data-card-absolute-width">
      <span title>Рецепт</span>
      <p>{{ $meal().recipe }}</p>
    </app-common-data-card>
  </div>

  <div class="ingredients-stats-container">
    <app-common-data-card>
      <span title>Характеристики страви</span>
      <p>
        <strong>Додана вартість: </strong> {{ $meal().additionalPrice }} грн
      </p>
      <p>
        <strong>Ціна: </strong> {{ $meal().price }} грн
      </p>
      <p>
        <strong>Енергетична цінність:</strong> {{ $meal().energeticValue }} ккал
      </p>
      <p>
        <strong>Вага:</strong> {{ $meal().weight }} г
      </p>
    </app-common-data-card>

    <div class="ingredients-list-wrapper">
      <h2>
        Інгредієнти
      </h2>
      <div class="ingredients-list">
        @for (dto of $mealIngredients(); track dto.ingredient.id) {
          <app-meal-ingredient-view-card [ingredient]="dto.ingredient"
                                         [mealIngredient]="dto.mealIngredient"
                                         [hideFixated]="isClientMeal"/>
        }
      </div>
    </div>
  </div>
</div>
