:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.create-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.list-toolbar {
  width: 100%;

  .list-toolbar-footer {
    margin: 16px 0 16px 0;
    display: flex;
    justify-content: space-between;

    .ordering-container {
      margin-left: 16px;
      display: flex;
      gap: 16px;
    }
  }
}
