:host {
  display: flex;
  flex-direction: column;
}

.topbar-container {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .search-bar {
    flex-grow: 1;
  }
}
