<div class="title-wrapper">
  <h2>Інгредієнти</h2>

  <div class="right-end-toolbar">
    <button mat-raised-button color="primary" (click)="onExportReport()">
      <mat-icon>print</mat-icon>
      <span>Експортувати звіт</span>
    </button>

    @if ($userRole() === UserRole.ADMIN) {
      <button mat-raised-button color="accent" (click)="onCreateClick()">
        Створити новий
      </button>
    }
  </div>
</div>

<div class="search-bar-container">
  <app-search-bar class="search-bar" label="Пошук інгредієнта" (search)="onSearch($event)"/>
</div>

<app-ingredients-chip-filters/>

<app-ingredients-list [ingredients]="$ingredients()"/>

<div class="mat-elevation-z3">
  <app-common-paginator [paginator]="store.paginatorModel" (page)="onPagination($event)"/>
</div>
