<mat-card class="data-card">
  <mat-card-header class="bordered-card-header card-header relative-card-header">
    <mat-card-title>
      Пошта
    </mat-card-title>

    <div class="card-header-absolute-action">
      <button mat-icon-button color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="card-content-wrapper">
      @for (email of $emails(); track email; ) {
        <div class="contact-wrapper">
          <strong>{{ $index + 1 }}.</strong> <a mat-button color="primary" [href]="'mailto:' + email">{{ email }}</a>
        </div>
      } @empty {
        <p>
          Немає контактів електронної пошти
        </p>
      }
    </div>
  </mat-card-content>
</mat-card>
