<div class="header-container">
  <div class="title-wrapper">
    <div>
      <h2>Клієнти</h2>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="onExportReport()">
        <mat-icon>print</mat-icon>
        <span>Експортувати звіт</span>
      </button>
    </div>
  </div>

  <div class="search-bar-container">
    <app-search-bar class="search-bar" label="Пошук клієнта" (search)="onSearch($event)"/>
  </div>
</div>

<div class="list-container">
  <app-clients-list [clients]="$clients()"
                    [paginator]="store.paginatorModel"
                    (sort)="onSort($event)"
                    (page)="onPagination($event)"/>

  <!--  <mat-card>-->
  <!--    <mat-paginator (page)="onPagination($event)"-->
  <!--                   [length]="store.paginatorModel.total"-->
  <!--                   [pageIndex]="store.paginatorModel.pageIndex"-->
  <!--                   [pageSize]="store.paginatorModel.pageSize"-->
  <!--                   [pageSizeOptions]="PAGE_SIZE_OPTIONS"-->
  <!--                   showFirstLastButtons>-->
  <!--    </mat-paginator>-->
  <!--  </mat-card>-->
</div>
