<div class="mat-elevation-z3">
  <table mat-table [dataSource]="$data()" matSort (matSortChange)="sort.emit($event)">
    <ng-container [matColumnDef]="TableColumns.address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ HeaderMapper[TableColumns.address] }}</th>
      <td mat-cell *matCellDef="let entity">{{ entity.address }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.managerPassportNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ HeaderMapper[TableColumns.managerPassportNumber] }}</th>
      <td mat-cell *matCellDef="let entity">{{ entity.managerPassportNumber }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.managerSurname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ HeaderMapper[TableColumns.managerSurname] }}</th>
      <td mat-cell *matCellDef="let entity">{{ entity.managerSurname }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.numberOfOrders">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ HeaderMapper[TableColumns.numberOfOrders] }}</th>
      <td mat-cell *matCellDef="let entity">{{ entity.numberOfOrders }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.totalOrdersPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ HeaderMapper[TableColumns.totalOrdersPrice] }}</th>
      <td mat-cell *matCellDef="let entity">{{ entity.totalOrdersPrice }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entity">
        <div class="table-list-actions-container">
          <button mat-icon-button color="primary" [routerLink]="['/', 'restaurants', entity.id]">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-common-paginator [paginator]="$paginator()" (page)="page.emit($event)"/>
</div>
