<div class="mat-elevation-z3">
  <table mat-table [dataSource]="$dataSource()" matSort (matSortChange)="sort.emit($event)">
    <ng-container [matColumnDef]="TableColumns.passportNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер паспорту</th>
      <td mat-cell *matCellDef="let employee">{{ employee.passportNumber }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Прізвище</th>
      <td mat-cell *matCellDef="let employee">{{ employee.surname }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ім'я</th>
      <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.middleName!">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>По-батькові</th>
      <td mat-cell *matCellDef="let employee">{{ employee.middleName }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Заробітна плата</th>
      <td mat-cell *matCellDef="let employee">{{ employee.salary }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата народження</th>
      <td mat-cell *matCellDef="let employee">{{ employee.birthDate }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Посада</th>
      <td mat-cell *matCellDef="let employee">{{ employee.position | employeePositionPipe }}</td>
    </ng-container>

    <ng-container [matColumnDef]="TableColumns.actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee">
        <div class="table-list-actions-container">
          <button mat-icon-button color="primary" [routerLink]="[employee.id]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(employee)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-common-paginator [paginator]="$paginator()" (page)="page.emit($event)"/>
</div>
