<mat-card class="mat-elevation-z7">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>person</mat-icon>
      <span>Увійдіть у свій акаунт</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <app-common-form-input-field class="default-form-input-field"
                                   [control]="form.controls.username"
                                   label="Ім'я користувача"
                                   inputType="text"
                                   [maxLength]="320"
                                   iconSuffix="person"/>

      <app-common-form-password-field class="default-form-input-field"
                                      [control]="form.controls.password"
                                      label="Пароль"
                                      [maxLength]="64"/>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button type="button" mat-raised-button color="accent" (click)="onSubmit()">
      Увійти
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <div>
      <span>Немає акаунту?</span>
      <a mat-button color="primary" [routerLink]="['/', 'auth', 'registration']">
        Зареєструватись
      </a>
    </div>
  </mat-card-footer>
</mat-card>
