<mat-chip-listbox multiple>
  <mat-chip-option selected (click)="onStatusToggle(OrderStatus.COMPLETE)">
    Завершені
  </mat-chip-option>
  <mat-chip-option selected (click)="onStatusToggle(OrderStatus.IN_PROCESS)">
    В обробці
  </mat-chip-option>
  <mat-chip-option (click)="onCostToggle()">
    Вартість
    <mat-icon matChipRemove (click)="onCostOpen()">menu</mat-icon>
  </mat-chip-option>
  <mat-chip-option (click)="onDateToggle()">
    Дата створення
    <mat-icon matChipRemove (click)="onDateCreatedOpen()">menu</mat-icon>
  </mat-chip-option>
  <mat-chip-option (click)="onOldOrders()">
    Застарілі замовлення
  </mat-chip-option>
</mat-chip-listbox>
