<div class="header-container">
  <div class="title-wrapper">
    <div>
      <h2>Працівники</h2>
    </div>

    <div class="create-btn-container">
      <button mat-raised-button color="primary" (click)="onExportReport()">
        <mat-icon>print</mat-icon>
        <span>Експортувати звіт</span>
      </button>

      <button mat-raised-button color="accent" [routerLink]="['create']">
        Створити нового
      </button>
    </div>
  </div>

  <div class="search-bar-container">
    <app-search-bar class="search-bar" label="Пошук працівника" (search)="onSearch($event)"/>
  </div>
</div>

<div class="list-container">
  <app-employees-table-list [employees]="$employees()"/>
</div>
