<div class="header-container">
  <div class="title-wrapper">
    <div>
      <h2>Статистика цінних інгредієнтів</h2>
      <h5>Інгредієнти, які використовуються у всіх актуальних стравах, ціна яких перевищує певне значення</h5>
    </div>

    <div class="right-end-toolbar">
      <button mat-raised-button color="primary" (click)="onExportReport()">
        <mat-icon>print</mat-icon>
        <span>Експортувати звіт</span>
      </button>
    </div>
  </div>

  <app-valuable-ingredients-chip-filters/>
</div>

<div class="list-container">
  <app-ingredients-list [hideActions]="true" [ingredients]="$data()"/>
</div>

<div class="mat-elevation-z3">
  <app-common-paginator [paginator]="store.paginatorModel" (page)="onPagination($event)"/>
</div>
