<h2 mat-dialog-title>Вибір інгредієнта</h2>

<mat-dialog-content>
  <div class="content-wrapper">
    <div class="search-bar-container">
      <app-search-bar class="search-bar" label="Пошук інгредієнта" (search)="onSearch($event)"/>
    </div>

    <app-ingredients-chip-filters [store]="ingredientsStore"/>

    <div class="item-list-grid">
      @for (ingredient of $ingredients(); track ingredient.id) {
        <app-ingredient-card [ingredient]="ingredient"
                             hideActions
                             (click)="onSelect(ingredient)"/>
      } @empty {
        <app-ingredient-card style="visibility: hidden" [ingredient]="skeletonDummyIngredient"/>
      }
    </div>

    <app-common-paginator [paginator]="ingredientsStore.paginatorModel" (page)="onPagination($event)"/>
  </div>
</mat-dialog-content>
