.top-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ingredients-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .meal-ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
  }
}

.add-btn-container {
  display: flex;
  justify-content: end;
}
