<mat-horizontal-stepper class="mat-elevation-z0"
                        labelPosition="bottom"
                        [linear]="false">
  <mat-step [stepControl]="mealDataStepForm">
    <ng-template matStepLabel>Опис страви</ng-template>

    <div class="form-wrapper">
      <form [formGroup]="mealDataStepForm" class="form-grid-2 w-80">
        <app-common-form-input-field class="default-form-input-field"
                                     [control]="mealDataStepForm.controls.title"
                                     label="Назва"
                                     inputType="text"
                                     [maxLength]="64"
                                     iconSuffix="title"/>

        <app-common-form-input-field class="default-form-input-field"
                                     [control]="mealDataStepForm.controls.additionalPrice"
                                     label="Додана вартість"
                                     inputType="number"
                                     iconSuffix="paid"/>

        <app-common-form-text-area [control]="mealDataStepForm.controls.description"
                                   label="Опис"
                                   iconSuffix="list_alt"
                                   [minRows]="5"
                                   [maxLength]="512"/>

        <app-common-form-text-area [control]="mealDataStepForm.controls.recipe"
                                   label="Рецепт"
                                   iconSuffix="menu_book"
                                   [minRows]="5"
                                   [maxLength]="1024"/>
      </form>

      <div class="stepper-buttons w-80">
        <button type="button" mat-raised-button color="primary" (click)="onCancel()">
          Скасувати
        </button>

        <button type="submit" class="stepper-btn-next" mat-raised-button color="accent" matStepperNext>
          Далі
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Інгредієнти</ng-template>

    <div class="form-wrapper">
      <div class="top-part">
        <div class="meal-stats-container">
          <app-meal-stats [stats]="$mealStats()" class="meal-stats"/>
        </div>

        <div class="add-btn-container">
          <button type="button" mat-raised-button color="accent" (click)="onAddIngredient()">
            Додати інгредієнт
          </button>
        </div>
      </div>

      @if ($ingredients().length > 0) {
        <div class="ingredients-list-container">
          <h2>
            Інгредієнти
          </h2>
          <div class="meal-ingredients-list">
            @for (dto of $ingredients(); track dto.ingredient.id) {
              <app-meal-ingredient-card [ingredient]="dto.ingredient"
                                        [mealIngredient]="dto.mealIngredient"
                                        [disableUp]="$first"
                                        [disableDown]="$last"
                                        (amountChange)="onAmountChange()"
                                        (delete)="onDeleteIngredient($event)"
                                        (up)="onIngredientUp(dto.ingredient.id)"
                                        (down)="onIngredientDown(dto.ingredient.id)"/>
            }
          </div>
        </div>
      }

      <div class="stepper-buttons w-100">
        <button type="button" mat-raised-button color="primary" (click)="onCancel()">
          Скасувати
        </button>

        <button type="button" class="stepper-btn-next" mat-raised-button color="accent"
                (click)="onSubmit()"
                [disabled]="$ingredients().length === 0">
          Підтвердити
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
