<div class="title-wrapper">
  <h2>Страви</h2>

  <div class="right-end-toolbar">
    @if (authService.hasRole(UserRole.ADMIN, UserRole.MANAGER)) {
      <button mat-raised-button color="primary" (click)="onExportReport()">
        <mat-icon>print</mat-icon>
        <span>Експортувати звіт</span>
      </button>
    }

    @if (authService.hasRole(UserRole.ADMIN)) {
      <button mat-raised-button color="accent" (click)="onCreate()">
        Створити нову
      </button>
    }
  </div>
</div>

<div class="search-bar-container">
  <app-search-bar class="search-bar" label="Пошук страви" (search)="onSearch($event)"/>
</div>

<app-meals-list [meals]="$meals()"/>
