<div cdkDropListGroup>
  <div class="meal-ingredients-list-container">
    <h2>Обов'язкові</h2>

    <div class="meal-ingredients-list"
         cdkDropList
         [id]="MealIngredientType.REQUIRED"
         [cdkDropListData]="$requiredList()"
         (cdkDropListDropped)="onDrop($event)">
      @for (id of $requiredList(); track id) {
        <app-meal-ingredient-card cdkDrag [id]="id"/>
      }
    </div>
  </div>

  <div class="meal-ingredients-list-container">
    <h2>Необов'язкові</h2>

    <div class="meal-ingredients-list"
         cdkDropList
         [id]="LISTS_IDS.optional"
         [cdkDropListData]="$ingredientsLists().optional"
         (cdkDropListDropped)="onDrop($event)">
      @for (ingredient of $ingredientsLists().optional; track track(ingredient)) {
        <app-meal-ingredient-card cdkDrag
                                  [ingredientFullData]="ingredient"
                                  (amountChange)="onAmountUpdate('optional', ingredient.ingredient.id, $event)"/>
      }
    </div>
  </div>

  <div class="meal-ingredients-list-container">
    <h2>Додаткові</h2>

    <div class="meal-ingredients-list"
         cdkDropList
         [id]="LISTS_IDS.additional"
         [cdkDropListData]="$ingredientsLists().additional"
         (cdkDropListDropped)="onDrop($event)">
      @for (ingredient of $ingredientsLists().additional; track track(ingredient)) {
        <app-meal-ingredient-card cdkDrag
                                  [ingredientFullData]="ingredient"
                                  (amountChange)="onAmountUpdate('additional', ingredient.ingredient.id, $event)"/>
      }
    </div>
  </div>
</div>
