<form [formGroup]="form" class="form-fields">
  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.title"
                               label="Назва"
                               inputType="text"
                               [maxLength]="64"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.price"
                               label="Ціна (₴)"
                               inputType="number"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.energy"
                               label="Енергетична цінність (ккал)"
                               inputType="number"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.weight"
                               label="Вага (г)"
                               inputType="number"/>

<!--  <div class="image-section">-->
<!--    <label for="imageUpload">Зображення:</label>-->
<!--    <input type="file" id="imageUpload" (change)="onImageChange($event)" accept="image/*" />-->
<!--    <img [src]="previewUrl" class="preview-img" *ngIf="previewUrl" />-->
<!--  </div>-->

  <div class="form-actions">
    <button type="button" mat-raised-button color="primary" (click)="onCancel()">
      Скасувати
    </button>

    <button type="button" mat-raised-button color="accent" (click)="onSubmit()">
      Зберегти
    </button>
  </div>
</form>
