<form [formGroup]="form" class="form-fields">
  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.title"
                               label="Назва"
                               inputType="text"
                               [maxLength]="64"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.price"
                               label="Ціна (₴)"
                               inputType="number"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.energeticValue"
                               label="Енергетична цінність (ккал)"
                               inputType="number"/>

  <app-common-form-input-field class="default-form-input-field"
                               [control]="form.controls.weight"
                               label="Вага (г)"
                               inputType="number"/>

  <div class="image-drop-zone-wrapper">
    <label>Зображення</label>
    <app-image-drop-zone/>
  </div>
</form>
