<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-fields">
  <mat-form-field appearance="fill">
    <mat-label>Назва</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Енергетична цінність (ккал)</mat-label>
    <input matInput type="number" formControlName="energy" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Вага (г)</mat-label>
    <input matInput type="number" formControlName="weight" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ціна (₴)</mat-label>
    <input matInput type="number" formControlName="price" />
  </mat-form-field>

<!--  <div class="image-section">-->
<!--    <label for="imageUpload">Зображення:</label>-->
<!--    <input type="file" id="imageUpload" (change)="onImageChange($event)" accept="image/*" />-->
<!--    <img [src]="previewUrl" class="preview-img" *ngIf="previewUrl" />-->
<!--  </div>-->

  <button type="button" mat-raised-button color="primary" (click)="onCancel()">
    Скасувати
  </button>

  <button type="submit" mat-raised-button color="accent" [disabled]="form.invalid">
    Зберегти
  </button>
</form>
