<h2 mat-dialog-title>Вибір страви</h2>

<mat-dialog-content>
  <div class="content-wrapper">
    <div class="search-bar-container">
      <app-search-bar class="search-bar" label="Пошук страви" (search)="onSearch($event)"/>
    </div>

    <app-meals-filters [store]="store"/>

    <div class="item-list-grid">
      @for (meal of $meals(); track meal.id) {
        <app-meal-card [meal]="meal"
                       hideActions
                       (click)="onSelect(meal)"/>
      } @empty {
        <app-meal-card style="visibility: hidden;" [meal]="skeletonDummyMeal"
                       hideActions/>
      }
    </div>
  </div>

  <app-common-paginator [paginator]="store.paginatorModel" (page)="onPagination($event)"/>
</mat-dialog-content>
