<mat-card class="data-card card-width">
  <mat-card-header class="bordered-card-header">
    <mat-card-title class="item-list-card-title">
      Сумарні характеристики страви
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-content-wrapper">
      <p>
        <strong>Ціна: </strong> {{ $stats().price }} грн
      </p>
      <p>
        <strong>Енергетична цінність:</strong> {{ $stats().energeticValue }} ккал
      </p>
      <p>
        <strong>Вага:</strong> {{ $stats().weight }} г
      </p>
    </div>
  </mat-card-content>
</mat-card>
