.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    min-width: 160px;
  }
}

.dialog-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
