:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: white;
}

.page-title {
  margin: 16px;
}

.stepper {
  flex-grow: 1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: 40%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
