/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --minor-border-color: rgba(189, 189, 186, 0.54);
}

.default-form-input-field {
  width: 100%;
}

.stepper-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    min-width: 160px;
  }
}

.item-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.item-list-card {
  width: 100%;
  max-width: 350px;
  min-width: 0;

  .mat-mdc-card-header-text  {
    overflow: clip;
    min-width: 0;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a, p, span {
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item-list-card-title {
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .item-list-card-img {
    max-width: 100%;
    height: 200px;
  }

  .item-list-card-info-container {
    padding-top: 10px;
  }

  .item-list-card-actions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
}

.form-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.invisible {
  visibility: hidden;
}

.table-list-actions-container {
  display: flex;
  justify-content: end;
}

.center-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bordered-card-header {
  border-bottom-style: dotted;
  border-width: 2px;
  border-bottom-color: var(--minor-border-color);
  padding-bottom: 3px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative-card-header {
  position: relative;
}

.card-header-absolute-action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}

.data-card {
  width: 600px;

  a, p, span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-header {
    position: relative;
    padding-bottom: 5px;
  }

  .card-content-wrapper {
    padding-top: 16px;
  }
}

.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontal-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 16px;
}

.cards-vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.right-end-toolbar {
  display: flex;
  gap: 16px;
  justify-content: end;
  align-items: center;
}

.common-data-card-absolute-width {
  width: 600px !important;
  display: block !important;
}

.logo-drop-zone {
  border-radius: var(--R-1, 8px);
  border: 2px dashed var(--Borders-Brd-Gray, #E6E7E7);
}
