<div class="title-wrapper">
  <h2>Профіль клієнта</h2>

  @if (authService.hasRole(UserRole.ADMIN, UserRole.CLIENT)) {
    <button mat-raised-button color="warn" (click)="onDelete()">
      Видалити акаунт
    </button>
  }
</div>

<div class="horizontal-container">
  <div class="cards-vertical-container">
    <app-common-data-card class="common-data-card-absolute-width">
      <span title>Персональні дані</span>

      <button relativeAction mat-icon-button color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>

      <p>
        <strong>Прізвище: </strong> {{ $client()?.surname }}
      </p>
      <p>
        <strong>Ім'я: </strong> {{ $client()?.firstName }}
      </p>
      @if ($client()?.middleName) {
        <p>
          <strong>По-батькові: </strong> {{ $client()?.middleName }}
        </p>
      }
      <p>
        <strong>Дата народження: </strong> {{ $client()?.birthDate }}
      </p>
      <p>
        <strong>Бонуси:</strong> {{ $client()?.bonuses }}
      </p>
    </app-common-data-card>
  </div>

  <div class="cards-vertical-container">
    <app-emails-card [userId]="$client()!.id"/>
    <app-phones-card [userId]="$client()!.id"/>
  </div>
</div>
